#page-assets-edit {
    width: 100vw;
    height: 100vh;
}

#page-assets-edit .page-header .header-content {
    margin-bottom: 6.4rem;
}

#page-assets-edit main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}


#page-assets-edit main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#page-assets-edit main fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-assets-edit main fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-assets-edit main fieldset .input-block + .textarea-block,
#page-assets-edit main fieldset .select-block + .input-block {
    margin-top: 2.4rem;
}

#page-assets-edit main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    cursor: pointer;
    font: 700 1.6rem Archivo;
    transition: color 0.2s;
}

#page-assets-edit main fieldset legend button:hover {
    color: var(--color-primary-dark)
}

#page-assets-edit main footer {
    padding: 4rem 2.4;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#page-assets-edit main footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}


#page-assets-edit main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-assets-edit main footer button:hover{
    background: var(--color-secondary-dark);
}

#page-assets-edit main .maintenance-isertion-item  {
    margin-bottom: -3rem;
}

#page-assets-edit main .maintenance-isertion-item + .maintenance-isertion-item {
    border-top: 2px solid var(--color-line-in-white);
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-assets-edit main .maintenance-isertion-item + .maintenance-isertion-item .resp{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-assets-edit main .maintenance-isertion-item + .maintenance-isertion-item label{
    padding-top: 4rem 2.4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



#page-assets-edit main .maintenance-isertion-item .hsbuttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#page-assets-edit main .maintenance-isertion-item .hsbuttons .hsi{
    margin-bottom: -1.2rem;
    width: 10rem;
    margin-left: 3rem;
}

#page-assets-edit main .maintenance-isertion-item .hsbuttons .hsf{
    margin-left: 3rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    text-indent: -2rem;
}

@media (min-width: 700px) {
    #page-assets-edit {
        max-width: 100vw;
    }
    #page-assets-edit .page-header {
        height: 18rem;
        margin-bottom: 0;
    }

    #page-assets-edit .page-header .header-content {
        margin-top: -5rem;
    }

    #page-assets-edit main fieldset{
        padding: 0 6.4rem;
    }

    #page-assets-edit main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-assets-edit main .maintenance-isertion-item .hsbuttons{
        display: flex;
        align-items: center;
        text-anchor: middle;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    #page-assets-edit main .maintenance-isertion-item .hsbuttons .hsi{
        margin-bottom: -1.2rem;
        align-items: baseline;
        display: block;
        width: 10rem;
        margin-left: 5rem;
    }
    
    #page-assets-edit main .maintenance-isertion-item .hsbuttons .hsf{
        margin-left: 3rem;
        display: block;
        width: 10rem;
        align-items: center;
        justify-content: center;
        text-indent: -2rem;
    }

    #page-assets-edit main footer p {
        justify-content: space-between;
    }

    #page-assets-edit main footer button {
        width: 20rem;
        margin-top: 0;
    }

}